@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HCA Challenge</h1>
</div>

<div>
    <h2>Purpose</h2>
    <p>A coding challenge to showcase understanding of Visual Studio, C#, Entity Framework, MVC, and .NET understanding.</p>
</div>